@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #53b3cb;
  --secondary: #1e2d2f;
  --muted-foreground: #71717a;
  --primary-foreground: #000000;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #E8F9FD; */
}
